/* Apply to all input fields, labels, and buttons within the form */
.container p{
    text-align: center;
  font-size: 2em; /* Optional: Increase the size of the h1 */
  margin-bottom: 20px; /* Optional: Add space below the h1 */
}

form {
    max-width: 400px; /* Set a maximum width for the form */
    margin: 0 auto;   /* Center the form horizontally */
    padding: 20px;
    padding-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  form p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
  form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form button[type="submit"]:hover {
    background-color: #218838;
  }
  
  